
input[type="submit"]{
  padding: 10px 15px;
  background: rgb(114, 196, 243);
  border: groove;
  border-radius: 1px;
  font-family: "Helvetica", Times, serif;
  font-weight:bold;
  font-size: 15px;
}

